#cristable {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;

}

#cristable caption {
	font-weight: bold;
	padding-bottom: 5px;
}

#cristable th {
	font-weight: bold;
	color: #fff;
	border-bottom: 1px #ddd solid;
	background: $clemson-purple;
	padding: 7px 3px 7px 10px
}


#cristable td {
	padding: 3px 3px 3px 10px;
	border-bottom: 1px #ddd solid;
}

#cristable tr:nth-child(even) {background: #f9f9f9}
#cristable tr:nth-child(odd) {background: #fdfdfd}
